<div class = "w-100 d-flex flex-column mb-5">
  <div class="w-100 d-flex flex-column align-items-center pb-3">
    <%= image_tag("default-profile.png", class: "rounded-circle profile-img") %>
    <p class="font-nunito text-bold">
      <%= user.fullname %>
    </p>
    <%= follow_unfollow(user) %>
  </div>
  <div class="w-100 d-flex flex-row border-top border-bottom border-secondary">
    <div class="col flex-column border-right border-secondary pt-3 text-center pr-3">
      <p class="text-bold font-nunito">Post:</p>
      <p class="text-bold font-nunito"><%= user.posts.count %></p>      
    </div>
    <div class="col flex-column border-right border-secondary pt-3 text-center pr-3">
      <p class="text-bold font-nunito">Followers:</p>
      <p class="text-bold font-nunito"><%= user.followers.count %></p>      
    </div>
    <div class="col flex-column pl-2 pt-3 text-center">
      <p class="text-bold font-nunito">Following:</p>
      <p class="text-bold font-nunito"><%= user.followees.count %></p>
    </div>
  </div>
</div>