<div class="w-100 flex-column">
  <div class="d-flex flex-row w-100 pb-3 border-bottom border-success px-5">
    <%= image_tag("default-profile.png", class: "rounded lat-bar-img") %>
    <p class='h3 text-light text-bold pl-2 align-self-center'>
      <%= current_user.username %>
    </p>
  </div>
  <div class="w-100 d-flex flex-row border-bottom border-success px-4">
    <div class="w-50 d-flex flex-column border-right border-success pt-3 text-center pr-3">
      <p class="text-secondary">
        Following:
      </p>
      <p class="text-bold text-light">
        <%= current_user.followees.count %>
      </p>
    </div>
    <div class="w-50 d-flex flex-column pl-2 pt-3 text-center">
      <p class="text-secondary">
        Followers:
      </p>
      <p class="text-bold text-light">
        <%= current_user.followers.count %>
      </p>
    </div>
  </div>
</div>
<ul class="nav flex-column w-100 px-4">
  <li class="nav-item">
    <%= link_to root_path, class: "nav-link" do %>
      <%= icon("house-fill") %> Home
    <% end %>
  </li>  
  <li class="nav-item d-flex flex-row">
    <%= link_to user_path(current_user.username), class: "nav-link" do %>
      <%= icon("person-fill") %> Profile
    <% end %>
  </li>
  <li class="nav-item d-flex flex-row">
    <%= link_to destroy_user_session_path, :method => :delete, class: "nav-link" do %>
      <%= icon("door-open-fill") %> Log out
    <% end %>
  </li>
</ul>